<launch>
    <arg name="ip" default="127.0.0.1"/>
    <arg name="port" default="9559"/>
    <include file="$(find nao_description)/launch/robot_state_publisher.launch"/>
	<node pkg="forward_kinematics" type="forward_kinematics_node" name="forward_kinematics" args="--live"/>
	<node pkg="naoqi_driver" type="naoqi_joint_states.py" name="naoqi_joint_states" args="--pip=$(arg ip) --pport=$(arg port)"/>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find forward_kinematics)/launch/rviz-config.rviz"/>
</launch>